.r{
  margin-top: 10px !important;
}

.span-bts{
  background: lightgrey;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.span-bts:hover{
  background: darkgrey;
}

.p{
  margin-top: 10px;
  padding: 10px;
}
